@using ServerLibrary.Model
@using WebPortal.Helpers
@model WebPortal.UIModel.UIOffer_CRU

@{
    int LABELCOLS = 3;
}

@using (Html.SiteInputPanel("create-offer-form", "Skapa nyhet", SiteInputPanels.NONE, SiteInputPanels.CLOSE | SiteInputPanels.CREATE))
{
    @Html.ValidationSummary(true)
    
    @Html.SiteStringHidden("customerid", SiteTextInputs.NOVALUE)
    <div class="row">
        <div class="col-md-6">
            @Html.SiteSelectOfferCategory("Kategori",   LABELCOLS, "category", SiteSelectInputs.SelectType.MANDATORY)
            @Html.SiteStringEditor(       "Rubrik",     LABELCOLS, "headline", SiteTextInputs.StringType.TEXT, Offer.MINLEN_HEADLINE, Offer.MAXLEN_HEADLINE, SiteTextInputs.GlyphIcon.TITLE)
            @Html.SiteDateTimeInput(      "Visas",      LABELCOLS, "showfromdate",  "showfromtime",  SiteDateTimeInputs.CalendarType.FUTURE)
            @Html.SiteDateTimeInput(      "Släcks",     LABELCOLS, "showuntildate", "showuntiltime", SiteDateTimeInputs.CalendarType.FUTURE)
        </div>
        <div class="col-md-6">
            @Html.SiteMultilineEditor(    "Meddelande", LABELCOLS, "message", Offer.MINLEN_MESSAGE, Offer.MAXLEN_MESSAGE, 8)
        </div>
    </div>
}
